# ===============================
# GENERAL
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.development
.env.production

.DS_Store
Thumbs.db

# ===============================
# FRONTEND (Expo / React Native)
# ===============================
# Frontend (Expo / React Native)
my-app/node_modules/
my-app/.expo/
my-app/.expo-shared/
my-app/dist/
my-app/build/
my-app/android/
my-app/ios/
my-app/web-build/
my-app/*.apk
my-app/*.aab


# ===============================
# BACKEND (Node / Express)
# ===============================
backend/node_modules/
backend/dist/
backend/build/

# Logs
backend/logs/
backend/*.log

# ===============================
# EDITOR / IDE
# ===============================
.vscode/
.idea/
*.swp
